{% extends 'components/base.html' %}
{% load static %}

{% block title %}{{ title1 }}{% endblock title %}

{% block content %}
<div class="bg-slate-100 dark:bg-principal p-4 relative overflow-hidden">
    <div class="absolute inset-0 bg-center blur-[106px]"></div>
    <div class="relative">
        <a href="/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse text-center justify-center" data-aos="fade-up">
            <img src="{% static 'img/iguana_corporation.png' %}" class="w-12 h-12" alt="Iguana Corporation Logo" />
            <span class="self-center whitespace-nowrap dark:text-blue-300 font-extrabold">Iguanas Corporation</span>
        </a>
        
        <section class="p-4 my-4 mx-auto max-w-4xl rounded-3xl bg-white dark:bg-secundario" data-aos="fade-up" data-aos-delay="200">
            <h1 class="text-4xl text-center mt-6 font-Pacifico dark:text-blue-300 my-2">
                Bienvenido a la Sesión de Recuperación de Contraseña
            </h1>
            <p class="text-center my-6 font-Tiny5 text-2xl dark:text-gray-400 uppercase">
                Ingrese su correo para validarlo
            </p>
            
            <div class="text-center my-4" data-aos="fade-right" data-aos-delay="200">
                <img src="{% static 'img/usuario_anonimo_2.png' %}" class="block w-20 md:w-64 lg:w-64 mx-auto rounded-full" alt="Usuario Anónimo">
            </div>
            
            <div class="flex justify-center items-center">
                <form method="post" class="w-full max-w-sm">
                    {% csrf_token %}
                    <div class="mb-4 text-center">
                        <p class="dark:text-gray-400 text-center mt-3 z-10">
                            Correo electrónico:
                        </p>
                        <input type="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" name="email" required>
                    </div>
                    <div class="flex items-center justify-center">
                        <button type="submit" class="bg-blue-700 rounded-full hover:bg-blue-800 text-white font-bold py-2 px-4  focus:outline-none focus:shadow-outline">
                            Validar Correo
                        </button>
                    </div>
                    <br>
                    <p class="dark:text-gray-400 text-center mt-3 z-10">
                        ¿Ya tienes una cuenta? <a href="{% url 'security:auth_login' %}" class="text-blue-600 hover:underline dark:text-blue-300 font-Tiny5 uppercase">Inicia Sesión</a>
                    </p>
                </form>
            </div>
            
            {% if messages %}
            <div class="mt-4">
                <ul class="messages">
                    {% for message in messages %}
                    <li class="{% if message.tags %}{{ message.tags }}{% endif %} text-center text-sm">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </section>
    </div>
</div>
{% endblock content %}

{% block navbar %}
{% endblock navbar %}