{% extends 'components/base.html' %}
{% load static %}
{% load i18n %} <!-- Escencial para poder traducir la paguina -->
{% block content %}
  <title>
    {% block title %}
      {{ title1 }}
    {% endblock %}
  </title>
  <section class="dark:bg-principal mt-20 px-4 sm:px-6 lg:px-8">
    <div class="text-center" data-aos="fade" data-aos-delay="200">
      <div class="pt-16 sm:pt-24 lg:pt-28">
        <div class="flex flex-col items-center justify-center">
          <span class="rounded-full bg-indigo-500 px-2 py-1 text-white uppercase text-sm">{{ title1 }}</span>
        </div>
        <h1 class="dark:text-white text-4xl text-center mt-6 font-Pacifico">{{ title2 }}</h1>
        <p class="dark:text-gray-400 text-center mt-6 text-lg font-light">
          {% trans 'Visualice su información.' %}
        </p>
      </div>
      <form method="post" enctype="multipart/form-data" class="space-y-6 py-4">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mx-4 lg:mx-20" data-aos="fade">
          <!-- Columna de la izquierda -->
          <div class="bg-white dark:bg-secundario rounded-3xl flex flex-col justify-center items-center p-8" data-aos="fade-right" data-aos-delay="200">
            <div class="w-[60%] text-center">
              <h2 class="dark:text-blue-300 text-2xl text-center mt-6 font-Pacifico">{% trans 'Imagen de Perfil' %}</h2><br />
              <div id="imagenPreview">
                {% if user.customer.image %}
                  <img src="{{ user.customer.image.url }}" class="mx-auto d-block rounded-lg" alt="Foto de perfil" />
                {% else %}
                  <img src="{% static 'img/usuario_anonimo_2.png' %}" class="mx-auto d-block rounded-lg" alt="Foto de perfil por defecto" />
                {% endif %}
              </div>
            </div>
            <div class="text-center w-auto m-4">
              <a class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full mr-2 flex items-center justify-center" href="{% url 'core:update_profile' %}"><i class="fa-solid fa-file-pen mr-2"></i> {% trans 'Actualizar Datos' %}</a>
            </div>
          </div>
          <!-- Columna de la derecha -->
          <div class="p-4 rounded-3xl dark:bg-secundario bg-white flex flex-col justify-center items-center" data-aos="fade-right" data-aos-delay="200">
            <!-- Datos de Usuario -->
            <div class="grid grid-cols-1 gap-4 w-full">
              <div>
                <p class="dark:text-gray-400">
                  <span class="dark:text-blue-300 font-black uppercase text-2xl">{% trans 'Usuario:' %}</span><br />{{ user.username }}
                  {% if user.is_superuser %}
                    <span class="dark:text-green-300 font-black font-Tiny5 uppercase text-2xl text-green-500">|{% trans 'Administrador' %}</span>
                  {% endif %}
                </p>
              </div>
              <div>
                <p class="dark:text-gray-400">
                  <span class="dark:text-blue-300 font-black uppercase text-2xl">{% trans 'Nombres:' %}</span><br />
                  {{ user.first_name }} {{ user.last_name }}
                </p>
              </div>
              <div>
                <p class="dark:text-gray-400">
                  <span class="dark:text-blue-300 font-black uppercase text-2xl">{% trans 'Cédula:' %}</span><br /> {{ user.customer.dni|default:'No Registrado' }}
                </p>
              </div>
              <div>
                <p class="dark:text-gray-400">
                  <span class="dark:text-blue-300 font-black uppercase text-2xl">{% trans 'Celular:' %}</span><br /> {{ user.customer.phone|default:'No Registrado' }}
                </p>
              </div>
              <div>
                <p class="dark:text-gray-400">
                  <span class="dark:text-blue-300 font-black uppercase text-2xl">{% trans 'Correo:' %}</span><br /> <a href="mailto:{{ user.email }}">{{ user.email|default:'No Registrado' }}</a>
                </p>
              </div>
              <div>
                <p class="dark:text-gray-400">
                  <span class="dark:text-blue-300 font-black uppercase text-2xl">{% trans 'Dirección:' %}</span><br /> {{ user.customer.address|default:'No Registrada' }}
                </p>
              </div>
              <div>
                <p class="dark:text-gray-400">
                  <span class="dark:text-blue-300 font-black uppercase text-2xl">{% trans 'Género:' %}</span><br /> {{ user.customer.get_gender_display|default:'No Registrado' }}
                </p>
              </div>
              <div>
                <p class="dark:text-gray-400">
                  <span class="dark:text-blue-300 font-black uppercase text-2xl">{% trans 'Fecha de Nacimiento:' %}</span><br /> {{ user.customer.date_of_birth|date:'d/m/Y'|default:'No Registrada' }}
                </p>
              </div>
              <div>
                <p class="dark:text-gray-400">
                  <span class="dark:text-blue-300 font-black uppercase text-2xl">{% trans 'Ubicación:' %}</span><br />
                  {% if user.customer.latitude and user.customer.longitude %}
                    Lat: {{ user.customer.latitude|floatformat:6 }}, Long: {{ user.customer.longitude|floatformat:6 }}
                  {% else %}
                    {% trans 'No Registrada' %}
                  {% endif %}
                </p>
              </div>
            </div>
            <div class="text-center mt-10 w-10">
              <a class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full flex items-center justify-center" href="{% url 'home' %}"><i class="fa-solid fa-house"></i></a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
{% endblock %}
